<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Lenovo/IdeaProjects/selenium">
        <classes>
            <class name="org.example.SeleniumBasic2.sel002">

            </class>
        </classes>
    </test>
</suite>